.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 58px;
  background-color: white;
  width: 80px;
  z-index: 200;
  padding-top: 25px;
}

.sidebar-link {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: lightgray;
}

.sidebar-link img {
  height: 30px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
}